body {
    background-color: rgb(24 24 27/1);
    color: #eee;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

nav {
    position: fixed;
    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: center;
    /* top: 20px;
    left: 20px; */
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 100px;
    right: 0px;
}

nav a {
    color: #eee;
    text-decoration: none;
    margin-right: 2vw;
}

nav a:hover {
    text-decoration: underline;
}




